# Python
.tox/
.venv/
*.pem
**/__pycache__
*.pyc
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

node_modules
**/node_modules

# Virtual environments
venv/
**/venv/
env/
**/env/
ENV/
**/ENV/
.venv/
**/.venv/

.ruff_cache
.git
.github
Dockerfile



# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# CrewAI specific
crew_output/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# uv
.python-version

*.db

deployment
Makefile
.gitignore
tests
